/* line 7, ../sass/ie.scss */
body.bp {
  text-align: center;
}
/* line 48, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body.bp legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 52, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body.bp p code {
  *white-space: normal;
}
/* line 67, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp .container {
  text-align: left;
}
/* line 69, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp sup {
  vertical-align: text-top;
}
/* line 71, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp sub {
  vertical-align: text-bottom;
}
/* line 73, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp hr {
  margin: -8px auto 11px;
}
/* line 75, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp img {
  -ms-interpolation-mode: bicubic;
}
/* line 77, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp fieldset {
  padding-top: 0;
}
/* line 79, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp textarea {
  overflow: auto;
}
/* line 82, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 86, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.text:focus {
  border: 1px solid #666666;
}
/* line 88, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 92, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.title:focus {
  border: 1px solid #666666;
}
/* line 94, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 97, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 100, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.button {
  position: relative;
  top: 0.25em;
}
/* line 103, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp textarea {
  margin: 0.5em 0;
}
/* line 105, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp select {
  margin: 0.5em 0;
}
/* line 107, ../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp button {
  position: relative;
  top: 0.25em;
}
