/* line 7, src/print.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
/* line 52, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .container {
  background: none;
}
/* line 54, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 62, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp hr.space {
  background: white;
  color: white;
}
/* line 65, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 67, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
/* line 72, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a img {
  border: none;
}
/* line 75, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp a:link, body.bp a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
/* line 79, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp p img.top {
  margin-top: 0;
}
/* line 81, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
/* line 86, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .small {
  font-size: 0.9em;
}
/* line 88, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .large {
  font-size: 1.1em;
}
/* line 90, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .quiet {
  color: #999999;
}
/* line 92, ../../../../../../../../usr/local/Cellar/gems/1.9/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body.bp .hide {
  display: none;
}
